* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;

}

body {
    /*background-color: #f0f2f5;
    position: relative;
    height: 80vh;
    overflow-x: hidden;*/
    background: #f0f2f5;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    
 
}


#container {
    display: flex;
    
}

#recent-logins {
    display: flex;
    flex-direction: column;
    position: relative;
    left:38vw;
    
    bottom:5px;
}

#recent-logins>#facebook {
    
    width:280px;
    align-items: center;
    padding:20px;
   
    

   
    
}



#login {
    position: relative;
    background-color: #FFFFFF;
    height: 320px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    top: 13vh;
    
    justify-content: flex-start;
    padding: 10px 10px 20px 10px;
    align-items: center;
    box-shadow: 0 5px 5px 3px gainsboro;
    left:16vw;
    
}

#login>a {
    margin: 18px 0;
    text-decoration: none;
    font-size: 15px;
    color: #1877F2;
}

#login>a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#login>#logg {
    padding: 24px 0 16px 0;
    font-size: larger;
}

hr {
    width: 95%;
    height: 0.1%;
    background-color: rgb(194, 193, 193);
    border: none;
  
}

#login>input[type=email],
#login>input[type=password] {
    height: 35%;
    margin: 8px 0;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    width: 95%;
    border: 1.5px solid #EEEFF0;
}

#login>input[type=password] {
    margin-bottom: 12px;
}

#login>input[type=email]:focus,
#login>input[type=password]:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 5px #719ECE;
    caret-color: blue;
}

#login-button {
    background-color: #1877F2;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    height: 120px;
    font-weight: bold;
    width: 95%;
}

#login-button:hover {
    background-color: #166FE5;
    cursor: pointer;
}




footer {
    background-color: #FFFFFF;
    position: absolute;
    bottom:0;
    width: 100vw;
    padding: 80px;
    color: #8e9295;
    font-size: 12px;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    word-spacing: 12px;
    list-style: 20px;
}
div{
    padding:10px;
  

}
div:hover{
    cursor:pointer;
   
}

@media screen and(max-width:1114px) {
    #recent-logins {
        left: 70px;
        margin-right: 22vw;
    }

    #login {
        right: 30px;
    }
}

@media screen and(max-width:900px) {
    body {
        height: 150vh;
    }

    #container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #recent-logins {
        margin-right: 0;
        align-items: center;
        left: 0;
        top: 20px;
    }

    #card-1 {
        margin-right: 5px;
    }

    #card-2 {
        margin-left: 5px;
        margin-right: 0;
    }

    #login {
        text-align: center;
        left: 0;
        margin-right: 0;
        margin-top: -30px;
        top: 80px;
    }

    #recent-logins,
    #login {
        position: relative;
    }

    footer {
        position: absolute;
        padding: 20px;
        width: 100vw;
    }
}

@media screen and(max-height:670px) {
    footer {
        position: relative;
        top: 100px;
    }
}